/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}

/* 1° esercizio completato */

.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: all 1.5s;
}

/* 2° esercizio completato */

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-3-square{
  transition: all 0.5s;
}

/* 3° esercizio completato */

